ul.header {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
}

a.header {
    text-decoration: none;
    color: white;
}

ul {
    margin-top: 20px;
}