*, *::before, *::after {
    box-sizing: border-box;
}

div {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}

h1.home-page {
    max-width: 1200px;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: blueviolet 10px 5px 5px;
}